{% extends 'base.html' %}


{% block content %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>About us</h1>
        <p>Marriage, also called matrimony or wedlock, is a socially or ritually recognized union or legal contract between spouses that establishes rights and obligations between them,\
            between them and their children, and between them and their in-laws.[1] The definition of marriage varies according to different cultures, but it is principally
            an institution in which interpersonal relationships,
            usually sexual, are acknowledged. In some cultures
            , marriage is recommended or considered to be compulsory before pursuing any sexual activity. When defined broadly, marriage is considered a cultural universal.</p>
    </div>
    </div>
{% endblock %}